<!DOCTYPE html>
<html>
	<div class="ui form" style="width: 900px" id="eq_form">
		<h3 class="header">Equipments</h3>
			<div th:replace="~{/equipment/equipment_table :: equipment_table (${project})}"></div>
			
			<button class="circular ui icon positive button" id="update_eq" th:data-id="${project.id}">
		  		<i class="icon  check"></i>
			</button>
				
			<button class="circular ui icon red button" id="cancel_eq" >
		  		<i class="icon close"></i>
			</button>
	</div>
	
	<script type="text/javascript">
	$(function(){
		//cancel_eq
		
		
		
		
		
	});
	
	</script>
</html>