  <div class="header" >
    Start a Project
  </div>
  <div class="content" style="background-color: #DADADA;">
		<div class="ui form" id="project_form">
			<div id="submit_grant_segment" class="ui piled segment">
	  			<h3 class="ui dividing header blue">Project Information</h3>
				
				<div th:replace="~{/project/project_info :: project_info (null)}"></div>
				
					
    		  	<h3 class="ui dividing header blue">Equipments</h3>
				<div th:replace="~{/equipment/equipment_table_empty :: equipment_table (null)}"></div>
				
    		  	  	<div class="field" style="margin-top: 1%">
    		 			<button class="circular ui icon positive button" id="add_equipment">
  							<i class="icon  plus"></i>
						</button>
					</div>
			</div>

</div>

  </div>
  <div class="actions">
    <div class="ui black cancel  button">
      Cancel
    </div>
    
    <div class="ui green labeled icon button" id="submit_project">
     Submit
      <i class="checkmark icon"></i>
    </div>
  </div>