  <div class="header" >
    Start a Project
  </div>
  <div class="content" style="background-color: #DADADA;">
		<div class="ui form" >
			<div id="submit_grant_segment" class="ui piled segment">
	  			<h3 class="ui dividing header blue">Project Information</h3>
	  			  <div class=" field">
    				
    					<div class="three fields">
	    					<div class="required field">
	    					<label>Project Name:</label>
	       						 <input   type="text" name="name" placeholder="Project Name" >
	      					</div>
	      					<div class="field">
	      					<label>Project Location:</label>
	       						 <input type="text" name="location"  placeholder="Project Location">
	      					</div>
	      					 <div class="field">
	      					<label> Amount of Funding 
	      					</label>
	       						 <input type="text" name="amount_fund"  placeholder="Amount of Funding" >
	      					</div>

      					
    					</div>
    		  	</div>
    		  	
    		  	<div class="field">
    		  		<div class="three fields">
    		  			<div class="required field">
	    					<label>Contact Name:</label>
	       					<input   type="text" name="contactName" placeholder="Contact Name" >
	      				</div>	
    		  		
    		  		</div>
    		  	</div>
    		  	
    		  	
	 
			</div>

</div>

  </div>
  <div class="actions">
    <div class="ui black cancel  button">
      Cancel
    </div>
    
    <div class="ui green ok  labeled icon button" >
     Submit
      <i class="checkmark icon"></i>
    </div>
  </div>