
    <div  class="ui small positive labeled icon button" style="margin-top: 1%">
          <i class="plus icon"></i> Start a Project 
  </div> 

<div class="ui cards" style="margin-top: 1%">
	<div class="ui raised blue card" th:each="project : ${projects}">
	  <div class="content">
	    <div class="header" >
	    	<span th:text="${project.name}"></span>
	    	 <span class="right floated"><div class="ui red label" th:text="${project.state.name}"></div></span>
	    </div>
	    <div class="meta">
	      <span class="category" >
	      	
	      	<span th:text="${project.location}"></span>
	      </span>
	    </div>
	    <div class="description">
	      <p ><i class="user icon"></i><span th:text="${project.contactName}"></span></p>
	      <p ><i class="phone icon"></i><span th:text="${project.contactPhone}"></span></p>
	      <p ><i class="envelope icon"></i><span th:text="${project.contactEmail}"></span></p>
	    </div>
	  </div>
	  <div class="extra content">
		<a>
	      <i class="industry icon"></i>
	      <span th:text="${project.equipments.size()}+' equipments contained'"></span>
	    </a>
	  </div>
</div>
</div>
  <script type="text/javascript">
  	$(function(){
  		//==============add project
  		$(".ui.small.positive.labeled.icon.button").api({
  			action:"addProjectPage",
  			onComplete:function(res){
  				utils.loadMainModel(res,function(){
  					
  				})
  				
  				
  			}
  			
  		});
  		
  		
  		
  	});
  
  
  </script>


