
    <div  class="ui small positive labeled icon button" style="margin-top: 1%">
          <i class="plus icon"></i> Start a Project 
  </div> 

<div class="ui cards" style="margin-top: 1%">
	<div class="ui raised blue card" th:each="project : ${projects}">
	   	
	
	  <div class="content" name="card_content">
	   <div class="ui dimmer">
		    <div class="content">
		      <div class="ui primary button">Submit to Fin</div>
		    </div>
  		</div>
	    <div class="header" >
	    	<span th:text="${project.name}"></span>
	    	 <span class="right floated"><div class="ui red label" th:text="${project.state.name}"></div></span>
	    </div>
	    <div class="meta">
	      <span class="category" >
	      	
	      	<span th:text="${project.location}"></span>
	      </span>
	    </div>
	    <div class="description">
	      <p ><i class="user icon"></i><span th:text="${project.contactName}"></span></p>
	      <p ><i class="phone icon"></i><span th:text="${project.contactPhone}"></span></p>
	      <p ><i class="envelope icon"></i><span th:text="${project.contactEmail}"></span></p>
	    </div>
	  </div>
	  <div class="extra content">
		<a href="javascript:void(0)" name="equipment_a" th:data-id="${project.id}">
	      <i class="industry icon"></i>
	      <span th:text="${project.equipments.size()}+' equipments contained'"></span>
	    </a>
	  </div>
</div>
</div>
  <script type="text/javascript">
  	$(function(){
  		$("div[name='card_content']")
  	  .dimmer({
  	    on: 'hover'
  	  });
  	  
  		//check equipment table 
  		
  		$("a[name=equipment_a]").api({
  			action:"getProject",
  			onComplete:function(res){
  				
  				
  				var popupa$=$(this);
  				
  				var content$=$(res);
  				
  				//console.log(content$.find("button[id=cancel_eq]"))
  				
  				
  				popupa$.popup({
  					closable:false,
  					on:"manual",
  				    html:content$,
  				    onCreate:function(e){
  				    	//form validate
  				    	var eq_form$=content$.find("#eq_form");
  				    	eq_form$.form({
  				    		fields:{
  				    			price:["empty","decimal"],
  				    			mannufacturDate:"empty"
  				    			
  				    		}
  				    		
  				    	});
  				    	
  				    	
  				    	
  				    	
  				    	
  				    	//=================cancel button
  				    	content$.find("button[id=cancel_eq]").click(function(){
  				    		popupa$.popup("remove popup")
  				    		
  				    	});
  				    	//===================update button
  				    	content$.find("button[id=update_eq]").api({
  				    		action:"updateEquipments",
  				    		beforeSend:function(){
  				    			
  				    			
  				    		}
  				    		onComplete:function(res){
  				    			
  				    			
  				    		}
  				    		
  				    	});
  				    	
  				    	
  				    	
  				    	
  				    }

  				  }).popup("show");
  				
  				
  				
  			}
  			
  			
  		});
  		
  		
  		
  		
  		
  		//==============add project
  		$(".ui.small.positive.labeled.icon.button").api({
  			action:"addProjectPage",
  			onComplete:function(res){
  				var mainModal$= utils.loadMainModel(res,function(){
  					$("#add_equipment").click(function(){//add an equipment
  						$("#equipment_tbody").append(utils.dom.equipment_table_tr);
  						
  					});
  					
  					
  					
  				});
  				
  				mainModal$.modal({
  					onApprove:function(){
  						console.log("approve")
  					}
  					
  				});
  				
  				
  			}
  			
  		});
  		
  		
  		
  	});
  
  
  </script>


